# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# Django secret key
SECRET_KEY=***

# Allowed hosts, separeted by ","
ALLOWED_HOSTS=127.0.0.1

# Database settings
DB_NAME=referral_system
DB_USER=referral_system
DB_PASSWORD=referral_system
DB_HOST=localhost
DB_PORT=5432
# Test database name
TEST_DB_NAME=test_django_database